.itemMenu {
  &.itemDefault {
    width: 25px;
    height: 25px;
    transition: 0.4s all ease 0s; // 过渡动画
  }
  &.itemChange {
    width: 15px;
    height: 15px;
    transition: 0.4s all ease 0s; // 过渡动画
  }
}
.theme-icon {
  width: 22px;
  height: 25px;
  cursor: pointer;
  &.itemDefault {
    width: 22px;
    height: 25px;
    transition: 0.4s all ease 0s; // 过渡动画
  }
  &.itemChange {
    width: 15px;
    height: 15px;
    transition: 0.4s all ease 0s; // 过渡动画
  }
}
.drawer-icon {
  width: 25px;
  height: 25px;
  margin-right: 20px;
  // border: 1px solid white;
  &.dark {
    color: white;
  }
  &.light {
    position: relative;
    left: -280px;
    filter: drop-shadow(black 280px 0);
  }
}
.item-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
  // border: 1px solid white;
  &.dark {
    color: white;
  }
  &.light {
    position: relative;
    left: -9999px;
    filter: drop-shadow(grey 9999px 0);
  }
}
.detail-icon {
  width: 25px;
  height: 25px;
  margin-right: 10px;
  // border: 1px solid white;
  &.dark {
    color: white;
  }
  &.light {
    position: relative;
    left: -9999px;
    filter: drop-shadow(black 9999px 0);
  }
}
